.about {
  padding: 100px 0;
}

.founder {
  padding: 80px 0;
  background: #28287a;
  color: #fafafa;
  border-bottom: 1px solid #5c5c5c;
}

.founder .founder-container {
  width: 80%;
  margin: auto;
}

.founder .founder-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #fafafa;
}

.founder .founder-container p {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
}

.founder .founder-container .contents {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.founder .founder-container .contents .content-item {
  width: 50%;
}

.founder .founder-container .contents .content-item .content span {
  font-weight: 700;
}

@media (max-width: 900px) {
  .founder .founder-container {
    width: 90%;
  }

  .founder .founder-container .contents .content-item {
    width: 100%;
  }

  .founder .founder-container .contents {
    flex-direction: column;
  }
}
