body {
  background: #e6e6e6;
}

.signup {
  padding: 100px 0;
}

.signup h1 {
  text-align: center;
  font-family: sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 50%;
  margin: auto;
}

.signup .oauth {
  background-color: #6060f3;
}

.signup .oauth:hover {
  background-color: #4c4cf7;
}

.signup form input {
  width: 60%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #fff;
  outline: none;
}

.signup form button {
  width: 60%;
  border: none;
  background: #04042c;
  color: #fafafa;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

/* .signup form .disabled {
  opacity: 0.5;
} */

.signup form button:hover {
  background: #191949;
}

.signup .haveAnAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: sans-serif;
  margin-bottom: 1rem;
}

.signup .haveAnAccount .link {
  text-decoration: none;
}

.signup .parag {
  text-align: center;
  color: #c92828;
}

@media (max-width: 900px) {
  .signup h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .signup form {
    width: 100%;
    padding: 0.5rem;
  }

  .signup form input {
    width: 80%;
    padding: 0.5rem;
  }

  .signup form button {
    width: 80%;
    padding: 0.5rem;
  }

  .signup .haveAnAccount {
    font-size: 0.8rem;
  }
}
