body {
  background: #e6e6e6;
}

.signup h1 {
  text-align: center;
  font-family: sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 50%;
  margin: auto;
}

.signup form input {
  width: 60%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #fff;
  outline: none;
}

.signup form button {
  width: 60%;
  border: none;
  background: #04042c;
  color: #fafafa;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

/* .signup form .disabled {
  opacity: 0.5;
} */

.signup form button:hover {
  background: #191949;
}

.signup .haveAnAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: sans-serif;
}

.signup .haveAnAccount .link {
  text-decoration: none;
}
