.dashboard {
  padding: 5vh;
  background: #28287a;
  font-family: Arial, sans-serif;
}

/* .container {
  padding: 100px 0;
} */

.overview img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: 50%;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #f4f4f9; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.overview h1 {
  font-size: 24px;
  color: #fafafa;
}

.overview p {
  font-size: 16px;
  color: #666;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.summary-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
}

.summary-item p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.menu {
  margin-top: 40px;
}

.menu h2 {
  font-size: 22px;
  color: #fafafa;
  margin-bottom: 20px;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.menu-item {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-item h3 {
  font-size: 18px;
  color: #333;
}

/* Responsive styles */
@media (max-width: 900px) {
  .dashboard {
    width: 100%;
  }

  .overview img {
    width: 7rem;
    height: 7rem;
  }

  .overview h1 {
    font-size: 1.2rem;
  }

  .summary {
    flex-direction: column;
    align-items: center;
  }

  .summary-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .menu h2 {
    font-size: 1.1rem;
  }

  .menu-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .menu-item {
    padding: 15px;
  }

  .menu-item h3 {
    font-size: 16px;
  }
}

/* @media (max-width: 900px) {
  .dashboard {
    width: 95%;
    padding: 50px 0;
  }

  .overview h1 {
    font-size: 20px;
  }

  .menu h2 {
    font-size: 20px;
  }

  .menu-items {
    grid-template-columns: 1fr;
  }

  .menu-item {
    padding: 15px;
  }

  .menu-item h3 {
    font-size: 16px;
  }
} */
