* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hero {
  /* background-image: url("/Images/3.jpeg"); */
  background: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)),
    url("/Images/3.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 90px 0;
}

.hero .banner {
  width: 60%;
  padding: 3rem 8rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #fafafa;
}

.hero p {
  margin-bottom: 1rem;
  color: #fafafa;
}

.hero button {
  background: #04042c;
  color: #fafafa;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero button:hover {
  background: #1e1e50;
}

@media (max-width: 900px) {
  .hero .banner {
    width: 100%;
    padding: 1rem 2rem;
  }

  .hero h1 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}

/* Achievements */

.achievements {
  padding: 100px 0;
}

.achievements .achievement-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.achievements .achievement-container .achievement p {
  font-size: 1.5rem;
}

.achievements .achievement-container .icon {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.achievements .achievement-container .home {
  color: #bb831b;
}

.achievements .achievement-container .hand {
  color: #5b5beb;
}

.achievements .achievement-container .build {
  color: brown;
}

@media (max-width: 900px) {
  .achievements {
    padding: 60px 0;
  }

  .achievements .achievement-container {
    flex-direction: column;
  }

  .achievements .achievement-container .achievement {
    margin-bottom: 3rem;
  }

  .achievements .achievement-container .achievement p {
    font-size: 0.8rem;
  }

  .achievements .achievement-container .icon {
    font-size: 2rem;
  }
}

/* Swiper */

.swiper img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Properties */

.properties {
  line-height: 2;
}

.properties .properties-content {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.properties .properties-content .items {
  margin-bottom: 1rem;
}

.properties .properties-content .items .offer,
.properties .properties-content .items .rent,
.properties .properties-content .items .sale {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 5rem;
}

.properties .properties-content .items .item {
  gap: 1rem;
}

@media (max-width: 900px) {
  .properties .properties-content .items .offer,
  .properties .properties-content .items .rent,
  .properties .properties-content .items .sale {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Why Choose Us */

.why-choose-us {
  padding: 90px 0;
  background: #04042c;
  color: #fafafa;
}

.why-choose-us .why-choose-us_container {
  width: 80%;
  margin: auto;
}

.why-choose-us .why-choose-us_container h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.why-choose-us .why-choose-us_container .contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
}

.why-choose-us .why-choose-us_container .contents .content .icon {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.why-choose-us .why-choose-us_container .contents .content p {
  margin-bottom: 1rem;
}

.why-choose-us .why-choose-us_container .contents .content span {
  line-height: 1.8;
  opacity: 0.8;
}

@media (max-width: 900px) {
  .why-choose-us .why-choose-us_container h2 {
    font-size: 1.5rem;
  }

  .why-choose-us .why-choose-us_container .contents {
    grid-template-columns: repeat(1, 1fr);
  }

  .why-choose-us .why-choose-us_container .contents .content {
    margin-bottom: 2rem;
  }

  .why-choose-us .why-choose-us_container .contents .content .icon {
    font-size: 2rem;
  }

  .why-choose-us .why-choose-us_container .contents .content span {
    font-size: 0.8rem;
  }
}
