.search {
  display: flex;
  font-family: sans-serif;
  line-height: 2;
  padding: 80px 0;
}

.search .filters {
  padding: 2rem;
  border-right: 1px solid #c0c0c0;
}

.search .filters label {
  font-weight: 700;
}

.search .filters .search-input {
  margin-bottom: 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search .filters .search-input input,
.search .filters .search-input select {
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
}

.search .filters .filters-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.3rem;
}

.search .filters .filters-items .item {
  display: flex;
  gap: 0.5rem;
}

.search .filters .button {
  border: none;
  background: #04042c;
  color: #fafafa;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.search .filters .button:hover {
  background: #494992;
}

.search .listing {
  padding: 1.5rem;
}

.search .listing .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search .listing-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.listing .showMore {
  background: #04042c;
  border: none;
  color: #fafafa;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listing .showMore:hover {
  background: #292968;
}

@media (max-width: 900px) {
  .search {
    flex-direction: column;
  }

  .search .listing h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .search .filters {
    border-bottom: 1px solid #c0c0c0;
    padding: 1.5rem;
  }

  .search .listing-items {
    grid-template-columns: repeat(1, 1fr);
  }
}
