.profile h1 {
  text-align: center;
  font-family: sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 5rem;
  cursor: pointer;
  display: flex;
  margin: auto;
  margin-bottom: 1rem;
}

.profile .uploading {
  text-align: center;
  font-family: sans-serif;
  color: #2c922c;
}

.profile form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 50%;
  margin: auto;
}

.profile form input {
  margin-bottom: 0.5rem;
  width: 60%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #fff;
  outline: none;
}

.profile form button {
  width: 60%;
  border: none;
  background: #04042c;
  color: #fafafa;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.profile form button:hover {
  background: #191949;
}

.profile form .items {
  display: flex;
  align-items: center;
  gap: 12rem;
  font-family: sans-serif;
  color: #e03636;
}

.profile form .items span {
  cursor: pointer;
}

.profile form .items span:hover {
  color: #f15050;
}

.profile .error {
  color: #f15050;
  text-align: center;
  font-family: sans-serif;
}

.profile .success {
  color: #2c922c;
  text-align: center;
  font-family: sans-serif;
}
