.profile h1 {
  text-align: center;
  font-family: sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile img {
  border-radius: 5rem;
  cursor: pointer;
  display: flex;
  margin: auto;
  margin-bottom: 1rem;
}

.profile .uploading {
  text-align: center;
  font-family: sans-serif;
  color: #2c922c;
}

.profile form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 50%;
  margin: auto;
}

.profile form input {
  margin-bottom: 0.5rem;
  width: 60%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #fff;
  outline: none;
}

.profile form button {
  width: 60%;
  border: none;
  background: #04042c;
  color: #fafafa;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.profile form button:hover {
  background: #191949;
}

.profile form .listing {
  text-decoration: none;
  width: 60%;
  border: none;
  background: #2c922c;
  color: #fafafa;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-family: sans-serif;
}

.profile form .listing:hover {
  background: #39b939;
}

.profile form .items {
  display: flex;
  align-items: center;
  gap: 12rem;
  font-family: sans-serif;
  color: #e03636;
}

.profile form .items span {
  cursor: pointer;
}

.profile form .items span:hover {
  color: #f15050;
}

.profile .error {
  color: #f15050;
  text-align: center;
  font-family: sans-serif;
}

.profile .success {
  color: #2c922c;
  text-align: center;
  font-family: sans-serif;
}

.profile .show-listings {
  display: flex;
  align-items: center;
  margin: auto;
  background: none;
  color: #2c922c;
  text-decoration: underline;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.profile .listing-showing {
  display: flex;
  border-bottom: 1px solid #bebebe;
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.profile .listing-showing img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 0;
  margin: 0;
}

.profile .listing-showing .listing-showing_button {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile .listing-showing .listing-showing_button button {
  margin-bottom: 1rem;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  color: #fafafa;
}

.profile .listing-showing .listing-showing_button .delete {
  background-color: #e03636;
  border-radius: 3px;
}

.profile .listing-showing .listing-showing_button .edit {
  background-color: #39b939;
  border-radius: 3px;
}

@media (max-width: 900px) {
  .profile h1 {
    font-size: 0.8rem;
  }

  .profile img {
    width: 3rem;
    height: 3rem;
  }

  .profile form {
    width: 100%;
  }

  .profile form input {
    width: 100%;
  }

  .profile form button {
    width: 100%;
  }

  .profile form .listing {
    width: 100%;
  }

  .profile form .items {
    font-size: 0.8rem;
  }

  .profile .show-listings {
    flex-direction: column;
  }

  .profile .listing-showing {
    width: 90%;
  }

  .profile .listing-showing img {
    width: 4rem;
    height: 4rem;
  }
}
