header {
  background: #04042c;
  padding: 0.5rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #474747;
  top: 0;
}

header .items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  width: 80%;
  margin: auto;
  position: relative;
}

header .center form {
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

header .center input {
  border: none;
  background: none;
  outline: none;
  width: 90%;
}

header .center button {
  background: none;
  border: none;
  cursor: pointer;
}

header .items .left .link {
  text-decoration: none;
  color: #fafafa;
}

header .items .left .link h3 {
  font-family: "Courier New", Courier, monospace;
}

header .hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

header .items .right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .items .right .link {
  list-style: none;
  text-decoration: none;
  color: #fafafa;
}

header .items .right .link:hover {
  color: #dddddd;
}

header .items .right .profile img {
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

@media (max-width: 900px) {
  header .items {
    width: 90%;
  }

  header .items .left .link h3 {
    font-size: 0.6rem;
  }

  header .hamburger {
    display: block;
  }

  header .items .right {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    top: 100%;
    right: 0;
    background: #04042c;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 1px 1px 1px 1px #fafafa;
  }

  header .items .right.open {
    display: flex;
  }

  header .items .right .link {
    padding: 1rem;
  }
}
